
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

#.d files from c++ compiler
*.d

certificates*



*.pdf
*.dvi
xgraphics*

*.out
*.aux
*.log
*.gz
*.snm
*.nav
*.toc
.svn/*
*.bbl
*.blg
*.run.xml
*.vrb
workingfile*.*
working_file*.*
xgraphicsCache*
*.ps
*.idx

